In [268]:
import pandas as pd

In [269]:
customers = pd.read_csv("olist_customers_dataset.csv")
geolocalisation =  pd.read_csv("olist_geolocation_dataset.csv")
order_items = pd.read_csv("olist_order_items_dataset.csv")
payments = pd.read_csv("olist_order_payments_dataset.csv")
reviews = pd.read_csv("olist_order_reviews_dataset.csv")
orders = pd.read_csv("olist_orders_dataset.csv")
products = pd.read_csv("olist_products_dataset.csv")
sellers = pd.read_csv("olist_sellers_dataset.csv")
product_category = pd.read_csv("product_category_name_translation.csv")

In [270]:
products.head(20)

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0
5,41d3672d4792049fa1779bb35283ed13,instrumentos_musicais,60.0,745.0,1.0,200.0,38.0,5.0,11.0
6,732bd381ad09e530fe0a5f457d81becb,cool_stuff,56.0,1272.0,4.0,18350.0,70.0,24.0,44.0
7,2548af3e6e77a690cf3eb6368e9ab61e,moveis_decoracao,56.0,184.0,2.0,900.0,40.0,8.0,40.0
8,37cc742be07708b53a98702e77a21a02,eletrodomesticos,57.0,163.0,1.0,400.0,27.0,13.0,17.0
9,8c92109888e8cdf9d66dc7e463025574,brinquedos,36.0,1156.0,1.0,600.0,17.0,10.0,12.0
10,14aa47b7fe5c25522b47b4b29c98dcb9,cama_mesa_banho,54.0,630.0,1.0,1100.0,16.0,10.0,16.0
11,03b63c5fc16691530586ae020c345514,bebes,49.0,728.0,4.0,7150.0,50.0,19.0,45.0
12,cf55509ea8edaaac1d28fdb16e48fc22,instrumentos_musicais,43.0,1827.0,3.0,250.0,17.0,7.0,17.0
13,7bb6f29c2be57716194f96496660c7c2,moveis_decoracao,51.0,2083.0,2.0,600.0,68.0,11.0,13.0
14,eb31436580a610f202c859463d8c7415,construcao_ferramentas_seguranca,59.0,1602.0,4.0,200.0,17.0,7.0,17.0
15,3bb7f144022e6732727d8d838a7b13b3,esporte_lazer,22.0,3021.0,1.0,800.0,16.0,2.0,11.0
16,6a2fb4dd53d2cdb88e0432f1284a004c,perfumaria,39.0,346.0,2.0,400.0,27.0,5.0,20.0
17,a1b71017a84f92fd8da4aeefba108a24,informatica_acessorios,59.0,636.0,1.0,900.0,40.0,15.0,20.0
18,a0736b92e52f6cead290e30b578413b6,moveis_decoracao,56.0,296.0,2.0,1700.0,100.0,7.0,15.0
19,f53103a77d9cf245e579ea37e5ec51f0,cama_mesa_banho,52.0,206.0,1.0,500.0,16.0,10.0,16.0

In [271]:
order_items

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14
...,...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299.99,43.41
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350.00,36.53
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99.90,16.95
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.99,8.72
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79

In [272]:
payments[payments["order_id"] == "00018f77f2f0320c557190d7a144bdd3"]

,order_id,payment_sequential,payment_type,payment_installments,payment_value
2499,00018f77f2f0320c557190d7a144bdd3,1,credit_card,3,259.83

In [273]:
#order_items['quantity'] = (order_items['payment_value'] - order_items['freight_value']) // order_items['price']

In [274]:
#order_items = order_items.merge(payments[['order_id', 'payment_value']], on='order_id')

#order_items = order_items.merge(products[['product_id', 'product_category_name']], on='product_id')

#order_items['quantity'] = (order_items['payment_value'] - order_items['freight_value']) / order_items['price']

In [275]:
order_items = order_items.merge(payments[['order_id', 'payment_value']], on='order_id')

order_items['net_payment'] = order_items['payment_value'] - order_items['freight_value']

order_items['quantity_real'] = order_items['net_payment'] / order_items['price']

order_items = order_items[order_items['quantity_real'] % 1 == 0]

order_items['quantity'] = order_items['quantity_real'].astype(int)

order_items = order_items.drop(columns=['net_payment', 'quantity_real'])

In [276]:
order_items_facts = order_items[order_items["quantity"]>0]

In [277]:
order_items = order_items.drop(columns="order_item_id")

In [278]:
order_items[order_items["quantity"]>5]

,order_id,product_id,seller_id,shipping_limit_date,price,freight_value,payment_value,quantity
20186,2c52a5a630ca9e849ec5fad8932bab44,7703b8cb5b77fbb36518ea91e2ca734f,6560211a19b47992c3666cc44a7e94c0,2017-03-23 14:41:46,39.0,10.0,244.0,6
20190,2c52a5a630ca9e849ec5fad8932bab44,7703b8cb5b77fbb36518ea91e2ca734f,6560211a19b47992c3666cc44a7e94c0,2017-03-23 14:41:46,39.0,10.0,244.0,6

In [279]:
order_items_facts = order_items_facts.drop_duplicates(subset="order_id",keep='first')

In [280]:
order_items_facts.head(10)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,payment_value,quantity
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,72.19,1
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,216.87,1
6,00054e8431b9d7675808bcb819fb4a32,1,8d4f2bb7e93e6710a28f34fa83ee7d28,7040e82f899a04d1b434b795a43b4617,2017-12-14 12:10:31,19.90,11.85,31.75,1
7,000576fe39319847cbb9d288c5617fa6,1,557d850972a7d6f792fd18ae1400d9b6,5996cddab893a4652a15592fb58ab8db,2018-07-10 12:30:45,810.00,70.75,880.75,1
8,0005a1a1728c9d785b8e2b08b904576c,1,310ae3c140ff94b03219ad0adc3c778f,a416b6a846a11724393025641d4edd5e,2018-03-26 18:31:29,145.95,11.65,157.60,1
9,0005f50442cb953dcd1d21e1fb923495,1,4535b0e1091c278dfd193e5a1d63b39f,ba143b05f0110f0dc71ad71b4466ce92,2018-07-06 14:10:56,53.99,11.40,65.39,1
10,00061f2a7bc09da83e415a52dc8a4af1,1,d63c1011f49d98b976c352955b1c4bea,cc419e0650a3c5ba77189a1882b7556a,2018-03-29 22:28:09,59.99,8.88,68.87,1
11,00063b381e2406b52ad429470734ebd5,1,f177554ea93259a5b282f24e33f65ab6,8602a61d680a10a82cceeeda0d99ea3d,2018-07-31 17:30:39,45.00,12.98,57.98,1
12,0006ec9db01a64e59a68b2c340bf65a7,1,99a4788cb24856965c36a24e339b6058,4a3ca9315b744ce9f8e9374361493884,2018-07-26 17:24:20,74.00,23.32,97.32,1
15,0009792311464db532ff765bf7b182ae,1,8cab8abac59158715e0d70a36c807415,530ec6109d11eaaf87999465c6afee01,2018-08-17 12:15:10,99.90,27.65,127.55,1

In [281]:
fact_sales_test = order_items_facts.merge(orders, on="order_id",how="inner")

In [282]:
fact_sales = fact_sale[["order_id","customer_id","product_id","seller_id","payment_value","order_approved_at","quantity"]]

In [283]:
fact_sales["Date_id"] = fact_sales["order_id"] + "/" + fact_sales["order_approved_at"]

C:\Users\boral\AppData\Local\Temp\ipykernel_29076\1632870605.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fact_sales["Date_id"] = fact_sales["order_id"] + "/" + fact_sales["order_approved_at"]

In [284]:
fact_sales.drop(columns="order_approved_at",inplace=True)

C:\Users\boral\AppData\Local\Temp\ipykernel_29076\2461134544.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fact_sales.drop(columns="order_approved_at",inplace=True)

In [285]:
fact_sales.to_csv("fact_Sales.csv")

In [286]:
# Informations de connexion à la base PostgreSQL distante
import os
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.exc import OperationalError
 


user = 'ETUDIANT'
password = 'it_L3@rninge'
host = 'localhost'  # Par exemple : '192.168.1.100'
port = '5432'              # Par défaut pour PostgreSQL
database = 'olist_dwh'
 
# Création du moteur de connexion
engine = create_engine(f'postgresql+psycopg2://{user}:{password}@{host}:{port}/{database}')
 
# Envoi du DataFrame vers PostgreSQL
fact_sales.to_sql('fact_sales', engine, if_exists='replace', index=False)
 
print("DataFrame envoyé avec succès !")

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe9 in position 75: invalid continuation byte