In [44]:
import pandas as pd

In [45]:
customers = pd.read_csv("olist_customers_dataset.csv")
geolocalisation =  pd.read_csv("olist_geolocation_dataset.csv")
order_items = pd.read_csv("olist_order_items_dataset.csv")
payments = pd.read_csv("olist_order_payments_dataset.csv")
reviews = pd.read_csv("olist_order_reviews_dataset.csv")
orders = pd.read_csv("olist_orders_dataset.csv")
products = pd.read_csv("olist_products_dataset.csv")
sellers = pd.read_csv("olist_sellers_dataset.csv")
product_category = pd.read_csv("product_category_name_translation.csv")

In [46]:
products.drop(columns=["product_name_lenght","product_description_lenght","product_photos_qty","product_weight_g","product_length_cm","product_height_cm","product_width_cm"],inplace=True)

In [47]:
order_items.drop_duplicates(subset="order_id",keep='first',inplace=True)
dim_products = products.merge(order_items[['product_id', 'price']], on='product_id', how='inner')
dim_products

                             product_id   product_category_name   price
0      1e9e8ef04dbcff4541ed26657ea517e5              perfumaria   10.91
1      3aa071139cb16b67ca9e5dea641aaa2f                   artes  248.00
2      96bd76ec8810374ed1b65e291975717f           esporte_lazer   79.80
3      cef67bcfe19066a932b7673e239eb23d                   bebes  112.30
4      9dc1a7de274444849c219cff195d0b71   utilidades_domesticas   37.90
...                                 ...                     ...     ...
98661  9a7c6041fa9592d9d9ef6cfe62a71f8c         cama_mesa_banho  127.00
98662  83808703fc0706a22e264b9d75f04a2e  informatica_acessorios   39.71
98663  83808703fc0706a22e264b9d75f04a2e  informatica_acessorios   29.90
98664  83808703fc0706a22e264b9d75f04a2e  informatica_acessorios   29.90
98665  106392145fca363410d287a815be6de4         cama_mesa_banho  107.50

[98666 rows x 3 columns]

In [48]:
dim_products.drop_duplicates(subset="product_id",keep='first',inplace=True)

In [49]:
dim_products.to_csv("dim_products.csv")

In [50]:
dim_products = products.merge(product_category[["product_category_name","product_category_name_english"]], on='product_category_name', how='inner')

In [51]:
dim_products = dim_products.rename(columns={"product_category_name": "product_category"})

In [52]:
input_path = r"C:\Users\boral\OneDrive\Documents\Projet Entrepot données\olist_products_dataset.csv"
output_path = r"C:\Users\boral\OneDrive\Documents\Projet Entrepot données\dim_product.csv"
 
import os 
# Charger les données brutes
products = pd.read_csv(input_path)
 
# Créer la table dim_product avec les colonnes nécessaires
dim_product = products[["product_id", "product_category_name"]].copy()
 
# Ajouter les colonnes manquantes
dim_product["category"] = dim_product["product_category_name"]
dim_product["product_price"] = 0.0  # Valeur par défaut pour le prix
 
# Sauvegarder la table nettoyée
os.makedirs(os.path.dirname(output_path), exist_ok=True)
dim_product.to_csv(output_path, index=False)
 
print(f"Table dim_product créée et sauvegardée dans : {output_path}")

Table dim_product créée et sauvegardée dans : C:\Users\boral\OneDrive\Documents\Projet Entrepot données\dim_product.csv

In [53]:

dim_products = dim_product.merge(order_items[['product_id', 'price']], on='product_id', how='inner')

In [54]:
dim_products.drop_duplicates(subset="product_id",keep='first',inplace=True)

In [55]:
dim_products.drop(columns="product_price",inplace=True)

In [56]:
dim_products

,product_id,product_category_name,category,price
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,perfumaria,10.91
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,artes,248.00
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,esporte_lazer,79.80
3,cef67bcfe19066a932b7673e239eb23d,bebes,bebes,112.30
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,utilidades_domesticas,37.90
...,...,...,...,...
98624,a0b7d5a992ccda646f2d34e418fff5a0,moveis_decoracao,moveis_decoracao,69.90
98655,bf4538d88321d0fd4412a93c974510e6,construcao_ferramentas_iluminacao,construcao_ferramentas_iluminacao,160.00
98657,9a7c6041fa9592d9d9ef6cfe62a71f8c,cama_mesa_banho,cama_mesa_banho,127.00
98662,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,informatica_acessorios,39.71
98665,106392145fca363410d287a815be6de4,cama_mesa_banho,cama_mesa_banho,107.50

In [57]:
customers.drop(columns=["customer_unique_id", "customer_zip_code_prefix"], inplace=True)

In [58]:
customers.drop_duplicates(subset="customer_id",keep='first',inplace=True)

In [59]:
customers.to_csv("dim_customers.csv")

In [60]:
sellers.drop(columns=["seller_zip_code_prefix"],inplace=True)

In [61]:
dim_sellers=sellers

In [62]:
dim_sellers

                             seller_id        seller_city seller_state
0     3442f8959a84dea7ee197c632cb2df15           campinas           SP
1     d1b65fc7debc3361ea86b5f14c68d2e2         mogi guacu           SP
2     ce3ad9de960102d0677a81f5d0bb7b2d     rio de janeiro           RJ
3     c0f3eea2e14555b6faeea3dd58c1b1c3          sao paulo           SP
4     51a04a8a6bdcb23deccc82b0b80742cf  braganca paulista           SP
...                                ...                ...          ...
3090  98dddbc4601dd4443ca174359b237166            sarandi           PR
3091  f8201cab383e484733266d1906e2fdfa            palhoca           SC
3092  74871d19219c7d518d0090283e03c137          sao paulo           SP
3093  e603cf3fec55f8697c9059638d6c8eb5            pelotas           RS
3094  9e25199f6ef7e7c347120ff175652c3b            taubate           SP

[3095 rows x 3 columns]

In [63]:
fact_sales = pd.read_csv("fact_Sales.csv")
fact_sales.drop(columns="Unnamed: 0",inplace=True)

In [64]:
dim_sellers.to_csv("dim_sellers.csv")

In [67]:
# Chemin vers le fichier source et de sortie
input_path = r"C:\Users\boral\OneDrive\Documents\Projet Entrepot données\olist_order_items.csv"
output_path = r"C:\Users\boral\OneDrive\Documents\Projet Entrepot données\dim_time.csv"
 
# Charger les données des commandes (source potentielle de order_date)
orders = pd.read_csv(input_path)
 
orders["order_purchase_timestamp"] = pd.to_datetime(orders["order_purchase_timestamp"])
 
# Créer la table dim_time avec les colonnes nécessaires
dim_time = pd.DataFrame()
dim_time["order_date"] = orders["order_purchase_timestamp"].dt.date  # Extraire la date
dim_time["month"] = orders["order_purchase_timestamp"].dt.month  # Extraire le mois
dim_time["year"] = orders["order_purchase_timestamp"].dt.year  # Extraire l'année
dim_time["quarter"] = orders["order_purchase_timestamp"].dt.quarter  # Extraire le trimestre
dim_time["quarter"] = orders["order_id"]
 
# Générer une clé primaire unique pour date_id
dim_time["date_id"] = dim_time["order_date"].astype(str).str.replace("-", "")
 
# Réorganiser les colonnes
dim_time = dim_time[["date_id", "order_date", "month", "year", "quarter"]]
 
# Supprimer les doublons (une date unique par ligne)
dim_time = dim_time.drop_duplicates()
 
# Sauvegarder la table dim_time
os.makedirs(os.path.dirname(output_path), exist_ok=True)
dim_time.to_csv(output_path, index=False)
 
print(f"Table dim_time créée et sauvegardée dans : {output_path}")

Table dim_time créée et sauvegardée dans : C:\Users\boral\OneDrive\Documents\Projet Entrepot données\dim_time.csv

In [ ]:
orders["order_date"] = pd.to_datetime(orders["order_purchase_timestamp"])

dim_time = pd.DataFrame()
dim_time["order_id"] = orders["order_id"]
dim_time["order_date"] = orders["order_date"]
dim_time["month"] = orders["order_date"].dt.month
dim_time["year"] = orders["order_date"].dt.year
dim_time["quarter"] = "Q" + ((orders["order_date"].dt.month - 1) // 3 + 1).astype(str)

dim_time.to_csv("dim_time.csv", index=False)